body {
    background: rgba(228, 29, 29, 0.89);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

div#res {
    text-align: center;
    margin-top: 10px;
}    
    
div#dados{
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px gray; 
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}